/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center; 
  color:#ffefef
}


.logo-container img {
  margin-left: 20px; 
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.logout-container{
  margin-right: 10px;
  max-height: 100px;
}

/* header a {
  color: #000000;
  text-decoration: none;
} */
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
  gap: 100px;
}
.taskDet {
  background: #ffffff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.taskDet h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #ed1f61
}
.taskDet p {
  margin: 0;
  font-size: 0.9em;
  color: #000000;
}
.taskDet #edit {
  top: 50px;
}
.taskDet span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #ffffff;
  padding: 6px;
  border-radius: 50%;
  color: #000000;
}

/*task form */
label, input,select {
  display: block;
}
input,select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: #ed1f61;
  border: 0;
  color: #ffffff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

nav{
  display: flex;
  align-items: center;
}

nav a{
  margin-left: 10px;

}
form.register,form.login,form.create{
  align-items: center;
  max-width: 400px;
  margin: 40px , auto;

  padding: 20px;
  background-color:#FFFFD5;
  border-radius: 4px;
  color:#000000
}
.connecting_btn {
  display: flex;
}

.connecting_btn a {
   display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  /*
  color: #000;
  background-color: #eaeaea;
  border: 2px solid rgb(177, 248, 177);
  padding: 8px 16px;
  border-radius: 4px; */
}

.connecting_btn a label {
  margin-right: 5px;
}

.connecting_btn a span {
  margin-left: 5px;
}

/* .connecting_btn a:hover {
  background-color: rgb(177, 248, 177);
} */

.create {
  position: relative;
}

.exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  margin-bottom: 10px;
}
